.row
  .column.column-100
    - @quotes.each do |quote|
      %h4= quote.title
      %blockquote
        %p
          %em
            %span= "\"#{quote.description}\""
.row
  .column.text-center
    %a{ class: 'button button-outlines', href: '/quotes' } More Quotes
