.row
	.column.column-100
		%img.center{:src => "/images/v-for-vendetta.png"}
		%h5.title.text-center 
			V for Vendetta quotes,
			made by
			%a{:href => "https://github.com/bergpb", :target => "_blank"} bergpb.
		%h6.title.text-center 
			Made with:
			%a{:href => "shttp://sinatrarb.com/", :target => "_blank"} Sinatra
			and
			%a{:href => "https://milligram.io/", :target => "_blank"} Miligram.		
.row
	.column.text-center
		%a.button.button-outline{:href => "/quote/random"} Random
		%a.button.button-outline{:href => "/quotes"} Some Quotes