.row
  .column.column-100
    %img.center.wt-300{ src: '/images/v-for-vendetta.png' }
    %p.title.text-center
      V for Vendetta quotes, made by
      %a{ href: 'https://github.com/bergpb', target: '_blank' } bergpb.
    %p.title.text-center
      Made with:
      %a{ href: 'http://sinatrarb.com/', target: '_blank' } Sinatra
      and
      %a{ href: 'https://milligram.io/', target: '_blank' } Milligram.
.row
  .column.text-center
    %a.button.button-outline{ href: '/quote/random' } Random
    %a.button.button-outline{ href: '/quotes' } Some Quotes
